body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0 10px;
}

#menu a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

#menu a:hover {
    color: #ccc;
}

#menuButton {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

section#about {
    background-color: #f5f5f5;
}

section#projects {
    background-color: #fff;
}

section#skills {
    background-color: #f5f5f5;
}

section#contact {
    background-color: #fff;
}

h3 {
    margin: 0;
    font-size: 1.5em;
}

h4 {
    margin: 10px 0 5px 0;
    font-size: 1.2em;
}

p {
    margin: 10px 0;
    font-size: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 5px 0;
}

a {
    color: #069;
    text-decoration: none;
}

form {
    margin: 20px 0;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}

#fs-frm input[type="submit"]:hover {
    background-color: gray;
}