body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0 10px;
}

#menu a {
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

#menu a:hover {
    color: #ccc;
}

#menuButton {
    display: none;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

section {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

section#about {
    background-color: #f5f5f5;
}

section#projects {
    background-color: #fff;
}

section#skills {
    background-color: #f5f5f5;
}

section#contact {
    background-color: #fff;
}

h3 {
    margin: 0;
    font-size: 1.5em;
}

h4 {
    margin: 10px 0 5px 0;
    font-size: 1.2em;
}

p {
    margin: 10px 0;
    font-size: 1em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 5px 0;
}

a {
    color: #069;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

form label {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
}

form input,
form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form input[type="submit"] {
    width: auto;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}


/* Tablet-specific styles */
@media (min-width: 768px) and (max-width: 991px) {
    nav {
        justify-content: flex-end;
    }

    #menu {
        display: none;
    }

    #menuButton {
        display: block;
    }
}